<html>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<head>
		<title>[7Pictures] <%= PorS %> 신청!</title>
	</head>
	<body>
		<div class="mail-body">
			<div class="mail-logo-body">
				<img class="mail-logo" src="https://netflix-salon.co.kr/assets/images/7pictures_mail.jpg" > 
			</div>
			<div class="mail-content-body">
				<div class="mail-content-title">[<%= PorS %> 신청]</div>
				<div class="mail-content-text">
					'<%= title %> <%= PorS %>' 신청! 검토요망!
				</div>
				<div class="mail-content-text">
					링크 : <%= link %>
				</div>
			</div>
		</div>
	</body>
</html>
